# Don't use quotes( " and ' )

API_ID=25857231
API_HASH=1dd5f56534538ad1caaf694617e374a4
SESSION=


# [OPTIONAL]

REDIS_URI=redis-14432.c267.us-east-1-4.ec2.cloud.redislabs.com:14432
REDIS_PASSWORD=O7c7JVKR186cVujR7jJZfKy5U53XJpQO
LOG_CHANNEL=
BOT_TOKEN=
