# Don't use quotes( " and ' )

API_ID=25857231
API_HASH=1dd5f56534538ad1caaf694617e374a4
SESSION=BQGKjM8AXjv2sY355xm71UmgBoCIFlfDnoCxBgBGR9jJne_1kV_d801P1UWTiPX614BFV_wCxK9v16RZ0yOhecBsB-RAbeZQbP_14aXZ9D803GtuvnMLUEKZMK9b--Z8Ds2RqtiUnRoCyASbSCW6QO5zusz21qVTxbRBy3zdCbsX8LBheaOZAL4Bcgb_7xuTuhVfBp8DTnQti0_WuDQV8Uu4bmDzgrXYqVQM7Npvdfy2teVY7IsfkOjHzw6fqcFMCr6vg1T8ybwfCXQDwCU0Hus_fG-SdMkfNQQFwPh_4Fntr7CZNU5h1gwTAbCyI-uVSK_jHF68_MsOZh_MlRGEAjn-Lm9csgAAAAIHgJbtAQ


# [OPTIONAL]

REDIS_URI=redis-14432.c267.us-east-1-4.ec2.cloud.redislabs.com:14432
REDIS_PASSWORD=O7c7JVKR186cVujR7jJZfKy5U53XJpQO
LOG_CHANNEL=-1003866960097
BOT_TOKEN=8715802349:AAFue32rrXlNS68Sf-aB7bFUKMu2uThPcXQ
